body{
    padding: 0;
    margin:0;
}
main{
    display: grid;
    grid-template-columns: 350px auto;
    width:100%;
}
#google_map{
   height: 100%;
}
.formularz{
    width:100%;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    border-bottom:solid 2px #dddddd;
}
#form{
    overflow-y: scroll;
    overflow-x:hidden;
}
.formularz > .name{
    width: 100%;
    padding: 10px;
    font-size:28px;
    color:#010f55;
}
.formularz > .name > span {
    padding-left:5px;
    padding-right: 5px;
}
.formularz > .name img{
    width:18px;
    height:18px;
}
.formularz .form-form > form > div{
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
}
input[type=number]{
    width:40px;
}
.formularz .form-form > form > div > div{
    width:110px;
    display: grid;
    grid-template-columns: 50px 60px;
    padding-top:3px;
    padding-bottom: 3px;
}
input[type=text]{
    float: right;
}
.formularz .form-form{
    padding-bottom: 25px;
    display: none;
}
.form-form > div{
    padding: 15px;
}
#add_siec{
    float:right;
}
#add_siec_search{
    float:right;
}
#ocena_search{
    float:right;
}
#results{
    font-size: 17px;
    color:#3a3a3a;
}
.stacja{
    padding: 10px;
    border-bottom:solid 2px #dddddd;
}
.stacja > div:nth-child(1){
    display: grid;
    grid-template-columns: auto 55px;
}
.stacja > div:nth-child(1) > div:nth-child(2){
    display: grid;
    grid-template-columns: 23px auto;
}
.stacja > div:nth-child(1) > div:nth-child(2) > div{
    margin-top: 2px;
}
.stacja > div> div:nth-child(2) > img{
    height: 22px;
}
.nazwa_stacji{
    font-weight:600;
    width: calc( 100% - 50px);
}
.stacja_info{
    padding-top:5px;
}
.spacja_paliwa{
    padding-top: 5px;
}
.spacja_paliwa > div{
    padding-left:8px;
}
.godziny_stacji{
    padding-top: 5px;
}

.stacja_adds{
    text-align: right;
    margin-top:6px;
}
.stacja_adds > img{
    height: 25px;
    margin-right: 5px;
}
.stacja_adds >div{
    width:115px;
    float:left;
    margin-top:3px;
}
.stacja_adds > div > img{
    height: 22px;
}
#opinion{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
    z-index: 9999;
}
#opinion > div {
    width:600px;
    min-height: 400px;
    background-color: white;
    margin-right:auto;
    margin-left:auto;
    margin-top:100px;
    color: #3a3a3a;
    font-family: 'Ubuntu', sans-serif;
}
#opinion > div >section:nth-child(1), #opinion > div >section:nth-child(2), #opinion > div >section:nth-child(3) {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
}
#opinion > div >section:nth-child(1) > div:nth-child(2) {
    margin-top:10px;
}
#opinion > div >section:nth-child(1) > div:nth-child(1), #opinion > div >section:nth-child(2){
    border-bottom: solid 1px #3a3a3a;
}
#opinion > div >section:nth-child(1) > div:nth-child(1) {
    padding: 5px;
    font-size: 18px;
    overflow: hidden;
    word-wrap: break-word;
    height: 100%;
}
#opinion > div >section:nth-child(1){
    height: 50px;
    display: grid;
    grid-template-columns: auto 20px;
}
#opinion > div >section:nth-child(2){
    height: 240px;
}
#opinion > div >section:nth-child(3) > span{
    font-size: 12px;
}
#opinion > div >section:nth-child(3){
    height: 110px;
}
#opinion > div >section:nth-child(3) > form > textarea{
    font-family: 'Ubuntu', sans-serif;
    resize: none;
    width:100%;
    font-size: 14px;
}
#opinion > div >section:nth-child(3) > form{
    text-align: center;
}
#opinie{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
