body{
    padding: 0;
    margin:0;
}
main{
    display: grid;
    grid-template-columns: 350px auto;
    width:100%;
}
#google_map{
   height: 100%;
}
.formularz{
    width:100%;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    border-bottom:solid 2px #dddddd;
}
#form{
    overflow-y: scroll;
    overflow-x:hidden;
}
.formularz > .name{
    width: 100%;
    padding: 10px;
    font-size:28px;
    color:#010f55;
}
.formularz > .name > span {
    padding-left:5px;
    padding-right: 5px;
}
.formularz > .name img{
    width:18px;
    height:18px;
}
.formularz .form-form > form > div{
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
}
input[type=number]{
    width:40px;
}
.formularz .form-form > form > div > div{
    width:110px;
    display: grid;
    grid-template-columns: 50px 60px;
    padding-top:3px;
    padding-bottom: 3px;
}
input[type=text]{
    float: right;
}
.formularz .form-form{
    padding-bottom: 25px;
    display: none;
}
.form-form > div{
    padding: 15px;
}
#add_siec{
    float:right;
}

#results{
    font-size: 17px;
    color:#3a3a3a;
}
.stacja{
    padding: 10px;
    border-bottom:solid 2px #dddddd;
}
.nazwa_stacji{
    font-weight:600;
}
.stacja_info{
    padding-top:5px;
}
.spacja_paliwa{
    padding-top: 5px;
}
.spacja_paliwa > div{
    padding-left:8px;
}
.godziny_stacji{
    padding-top: 5px;
}